body {
  background-color: blanchedalmond;
}

h1 {
  /* background-color: #9e7c03; */
  text-align: center;
  font-size: 300%;
}

#controls {
  margin: 20px;
  text-align: center;
}

#timeSlider {
  width: 80%;
}

#map {
  width: 90%;
  height: 80vh;
  margin: 0 auto;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#controls {
  margin: 20px;
  text-align: center;
}

#timeSlider {
  -webkit-appearance: none;
  width: 80%;
  height: 10px;
  background: linear-gradient(to right, #db3434, #2ecc71);
  border-radius: 5px;
  outline: none;
  opacity: 0.9;
  transition: opacity 0.2s;
}

#timeSlider:hover {
  opacity: 1;
}

#timeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #3ca5e7;
  border: 2px solid #34495e;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
}

#timeSlider::-webkit-slider-thumb:hover {
  background-color: #3592cd; /* Change thumb color on hover */
}

#yearLabel {
  font-size: 1.2em;
  font-weight: bold;
  color: #34495e;
  margin-left: 10px; /* Adds spacing between the label and the year */
}

/* Legend */
#Legend {
  display: flex; /* Allows for easy centering if nested elements are added */
  justify-content: center; /* Centers the content inside the box */
  align-items: center; /* Centers the content vertically */
  margin: 20px auto; /* Centers the box horizontally in its container */
  background-color: hsla(207, 44%, 49%, 0.648); /* Muted blue background */
  border: 1px black solid; /* Black border */
  border-radius: 10px; /* Rounded corners */
  width: 150px; /* Fixed width */
  padding: 10px; /* Optional: Adds some space inside the box */
  text-align: center; /* Ensures text inside the box is centered */
}

#Celtic {
  color: green;
}

#Germanic {
  color: red;
}

#Italic {
  color: blue;
}

#Baltic {
  color: orange;
}
#Slavic {
  color: yellow;
}

#Anatolian {
  color: brown;
}

#Hellenic {
  color: Teal;
}

#Uralic {
  color: turquoise;
}

#PaleoEuropean {
  color: grey;
}
